@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html, body {
    margin: 0; 
    padding: 0;
}

/* General Container */
.container {
    max-width: 960px;
    width: 100%;
    height: 100%; 
    margin: 0 auto;
    background: inherit;
}

/* Site Header Styling */
header {
    background: #FFFFFF;
    height: 5em;
    width: 100%;
    position: fixed; 
    top: 0; 
    left: 0;
    z-index: 20000;
    box-shadow: 0 3.5px 5px -2px rgba(0,0,0,0.1);
}

#main-logo {
    background: url('../images/site-logo@3x.png') no-repeat center;
    height: 100%; 
    width: 5em;
    float: left;
}

/* Site Header Nav Styling */
.main-links {
    position: relative; 
    float: right;
    height: 5em;
}

.main-links ul {
    list-style: none;
    padding: 0; 
    margin: 0;
    height: 100%; 
}

#mobile-menu {
    height: 1.5em;
    width: 1.5em;
    margin-top: 1.75em; 
    float: right;
    margin-right: 2em;
    background: url('../images/ham-menu.png') no-repeat center;
    background-size: cover;
    display: none; 
}

#menu-close {
    background: url('../images/ham-close.png') no-repeat center;
    background-size: cover;
    margin-right: 2em;
    height: 1.5em;
    width: 1.5em;
    margin-top: 1.75em; 
    float: right;
    display: none; 
}

.main-links ul li {
    display: inline-block;
    margin-right: 2em;
    height: 100%;
    line-height: 5em;
}

.main-links ul li a {
    color: #EE543A;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 1.2em;
}

.main-links ul li a:hover {
    color: #FF9F55; 
}

/* Intro Banner Styling */
#intro-banner {
    position: relative; 
    background: green;
    clear: both;
    margin-top: 5em; 
    height: 25em; 
    width: 100%;
    background: url('../images/intro-pattern.png') repeat center;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 3.5px .5px -2px rgba(0,0,0,0.1);
}

#intro-text {
    width: 50%;
    height: 100%; 
    float: left;
    padding-top: 2em;
    box-sizing: border-box;
}

#intro-text h2 {
    padding: 0; 
    margin: 0;
    font-size: 3em;
    font-family: 'Oswald', sans-serif; 
    color: #EE543A;
}

#intro-text p {
    margin: 0; 
    padding: 0 3em;
    font-family: 'Open Sans', sans-serif;
/*    text-align: left;*/
    font-size: 1.4em; 
}

#intro-img {
    width: 50%;
    height: 100%;
    float: right;
    overflow: hidden;
}

#intro-img img {
    margin-top: 4em;
    padding: 0; 
}

/* Languages Section Styling */
#languages {
    height: auto; 
    width: 100%;
    margin: 0;
    background: #ECF0F1;
}

.one-third {
    height: 100%; 
    width: 33.333333%; 
    float: left;
    text-align: center; 
    padding: 3em 0; 
}

.one-third h3 {
    font-size: 1.5em;
    font-family: 'Open-Sans', sans-serif;
    color: #EE543A;
    margin: 0; 
    padding: 0;
}

.one-third h3:hover {
    text-decoration: underline; 
}

/* THIS IS GIVEN PRIORITY OVER ANY INLINE STYLES 
   LEFT OVER BY JQ ON MOBILE VERSION
*/
@media only screen and (min-width: 769px) {
    .main-links {
        top: 0 !important;
        position: relative !important; 
    }
    
    #mobile-menu, #menu-close {
        display: none !important; 
    }
}

@media only screen and (max-width: 768px) {
    
    #main-logo {
        background: url('../images/site-logo@2x.png') no-repeat center;
    }
    
    /* Hidden Menu Styling on Mobile*/
    #mobile-menu {
        display: block; 
    }
    .main-links {
        position: absolute;
        width: 100%;
        top: -11em; 
        background: white;
        height: auto;
        margin: 0;
        z-index: -9999; 
    }
    
    .main-links ul {
        width: 100%;
        padding: 0; 
        margin: 0;
        border-top: 1px solid #D2D7D3; 
    }
    
    .main-links ul li {
        display: block;
        width: 100%; 
        text-align: center;
        padding: 0; 
        margin: 0;
        height: 2.5em;
        line-height: normal;
        border-bottom: 1px solid #D2D7D3;
    }
    
    .main-links ul li a {
        color: #EE543A;
        font-family: 'Oswald', sans-serif;
        text-decoration: none;
        font-size: 1.4em;
        display: inline-block;
        height: 100%; 
    }
    
    /* Intro Banner Styling on Mobile */
    #intro-banner {
        height: auto;
        padding: 1em 0;
    }
    
    #intro-text {
        display: block; 
        float: none;
        width: 100%; 
        margin: 0;
        padding: 0; 
    }
    
    #intro-text p {
        padding: 0 1.5em; 
    }
    
    #intro-img {
        display: none; 
    }
    
    .one-third img {
        display: none; 
    }
    
    .one-third {
        display: block;
        float: none;
        width: 100%;
        padding: 2em 0;
    }
    
    .one-third h3 {
        color: white; 
    }
    
    /* Styling for Mobile View of Languages */
    .path-info-show {
        width: 100%; 
        height: 10em; 
    }

    #html {
        background: #FF7416;   
    }

    #css {
        background: #2C82C9;
    }
    
    #javascript {
        background: #FCB941;
    }
}